{% extends "services/layout.html"  %}
{% load static %}

{% block name %}
    Your shopping cart
{% endblock %}

{% block content %}
    <h1>Your shopping cart</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Устройство</th>
            <th>Услуга</th>
            <th>Удалить</th>
            <th>Цена</th>

        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with issue=item.issue %}
                <tr>
                    <td>
                        <a href="{{ device.get_absolute_url }}">
                            <img src="
                                {% if device.image %}
                                    {{ device.image.url }}
                                {% else %}
                                    {% static 'img/no_image.png' %}
                                {% endif %}">
                        </a>
                    </td>
                    <td>{{ issue.device_type }}</td>
                    <td>{{ issue.issue_type }}</td>
                    <td><a href="{% url 'cart:cart_remove' book.id %}">Remove</a></td>
                    <td class="num">{{ item.cost }}</td>
                    <td class="num">{{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}