section.flex {
    display: flex;
    flex-wrap: wrap;
}

section.flex section {
    margin: 10px;
}

.img-simulator-float-left {
    float: left;
    width: 100px;
    height: 100px;
    background-color: rgb(23, 123, 186);
    margin-bottom: 15px;
}

.img-simulator-float-right {
    float: right;
    width: 100px;
    height: 100px;
    background-color: rgb(23, 186, 102);
    margin-bottom: 15px;
}