/* Card Container */
.flex {
  display: flex;
  flex-wrap: wrap;
}


.card-grid {
  grid-template-columns: repeat(3, 1); /* Three equal-width columns */
  gap: 20px; /* Gap between cards */
}

.card-wrapper {
  min-height: 45ch;
  position: relative;
}

.card{
  --posx: 50%;
  --posy: 50%;
  --rotateX: 0;
  --rotateY: 0;
  inset: 1rem;
  border: 2px solid #fff2;  
  border-radius: 1em;
  background-color: greenyellow;
  transform: 
    rotateY(var(--rotateX)) 
    rotateX(var(--rotateY));
}

@keyframes reset-card{
  to {
    background-position: 50% 50%;
    transform: 
      rotateY(0) 
      rotateX(0);
  }
}

/* Card Header */
.card-header {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

/* Card Body */
.card-body {
  font-size: 1rem;
}

/* Card Footer */
.card-footer {
  margin-top: 10px;
  text-align: right;
}

/* Example Button Styling */
.card-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #0056b3;
}
