{% extends "services/layout.html"  %}

{% block name  %}
    <title></title>
{% endblock  %}

{% block content  %}
<figure>
    <img src="">
    <figcaption>Olezhka service</figcaption>
</figure>

<article>
 Welcome to [Company Name], your trusted partner in the world of technology.
    In today's fast-paced digital landscape, where businesses and individuals
    rely heavily on computers and technology, having a reliable and efficient
    computer service company by your side is essential. At [Company Name], we
    understand the critical role that technology plays in your life and work,
    and we are here to ensure that it functions seamlessly.
</article>

<article>
    Join us on a journey where technology meets reliability, where your computer
    needs are met with expertise and dedication. Discover the difference with [Company Name],
    your trusted partner in computer services.
</article>


<div>
    <h3>Our proud</h3>
    <ol>
        <li>We help to repair 18237 laptops, headphones, phones and other devices</li>

        <li>We got 87% of 5 star ..., 11% of 4 star..., and only 2 percent of 3 and less stars...</li>

        <li>We are working in 47 countries and 4 continents.</li>

        <li>And other facinating facts about us</li>

    </ol>
</div>

<iframe  width="1200" height="615" src=""
    >
    Тег video не поддерживается вашим браузером.
</iframe>


{% endblock  %}
