{% extends "services/layout.html"  %}
{% load static%}

{% block name  %}
    <title>Contacts</title>
{% endblock  %}

{% block css  %}
    <link rel="stylesheet" href="{% static 'services/css/layout.css'%}"/>
{% endblock  %}

{% block content  %}
<div>
  <h2>Contacts</h2>

  <div style="width: 200px, padding: 50px">
    {%for worker in workers%}

      <p>{{worker.first_name}} {{worker.last_name}}</p>
      <ul>
        <li>
          <img src="{{worker.image.url}}">
        </li>
        <li>
          <strong>email:</strong><b> {{worker.email}}</b>
        </li>
        <li>
          <strong>phone:</strong><small>{{worker.phone_number}}</small>
        </li>
        <li>
          <pre>
            <strong>Description: </strong><em>{{worker.job_description}}</em>
          </pre>
        </li>
      </ul>
    {%endfor%}
  </div>



{% endblock  %}