{% extends "services/layout.html"  %}
{% load static%}

{% block name  %}
    <title>Contacts</title>
{% endblock  %}

{% block css  %}
    <link rel="stylesheet" href="{% static 'services/css/contacts.css'%}"/>
{% endblock  %}

{% block content  %}
  <h2>Contacts</h2>

  <div style="width: 200px, padding: 50px">


    <section class="flex">
      {% for worker in workers %}
    <section itemscope itemtype="https://schema.org/Person"><img src={{worker.image.url}} alt="Employee Photo"
            height="200" width="200">
        <ul>
            <li itemprop="name">{{ worker.first_name }} {{ worker.last_name }}</li>
            <li itemprop="description"><small>Responsibilities: {{ worker.description }}</small></li>
            <li itemprop="telephone"><small>Phone: {{ worker.phone_number }} </small></li>
            <li itemprop="email"><small>Email: <a href="mailto:{{ worker.email }}">{{ worker.email }}</a></small></li>
        </ul>
    </section>
    {% endfor %}
    </section>
  </div>



{% endblock  %}