<!DOCTYPE html>
{% load static%}
    <html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'services/css/layout.css'%}"/>
        <link rel="stylesheet" href="{% static 'services/css/details.css'%}"/>
        <title>Edit</title>
    </head>
    <body>
             <form action="{{ request.get_full_path }}" method="get">
                <button class="btn btn-primary m-3" type="submit" name="sort" value="ascending">Сортировать по возрастанию</button>
                <button class="btn btn-primary m-3" type="submit" name="sort" value="descending">Сортировать по убыванию</button>
            </form>

            <h5>{{ device.name }}</h5>>
            <table class="">
                 <thead class="">
                    <tr>
                        <th>Вид услуги</th> <th>цена</th> <th></th> <th></th>
                    </tr>
                </thead>

                <tbody>
                     {%for issue in issues%}
                        <tr>
                            <td>{{issue.issue_type}}</td> <td>{{issue.price}}</td>
                            <td rowspan="2"><a href="{% url 'services:editIssue' issue.id %}"><button class="btn btn-warning">изменить</button></a></td>
                            {% if user.is_staff %}
                            <td rowspan="2">
                                <a href="{% url  'cart:cart_add' issue.id %}"><button class="btn btn-warning">добавить</button></a>
                                <form action="{% url 'cart:cart_add' issue.id %}" method="post">
                                    {{ cart_form }}
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-warning" value="Add to cart">
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                    {% empty %}

                    {% endfor %}
                </tbody>

            </table>


    </body>
    </html>