<!DOCTYPE html>
{% load static%}

<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="serviceCenter",
            content="service center - this is the way to work with effective hardware">
    <title>{% block title  %} {% endblock  %}</title>

    {% block css  %}
    {% endblock  %}

    <link rel="stylesheet" href="{% static 'services/css/layout.css'%}"/>
    <link rel="shortcut icon" href="{% static 'services/img/digital_logo.ico' %}" type="image/x-icon">
    <script src="{% static 'services/js/timer.js' %}" defer></script>      
</head>


<body>
        <nav>

             {% if user.is_authenticated %}
                    |{{ user.username }}|
                    <a href="{% url 'login:logout' %}">Сделать больно и покинуть чат</a>
                    {% else %}
                    <a href="{% url 'login:login' %}">Войти</a>
                    <a href="{% url 'login:register' %}">Зарегистрироваться</a>
                    {% endif %}

    </nav>
    <aside>
        <img class="image-transform"  src="{% static 'services/img/logo.jpg' %}" height="50" width="70"  alt="logo">
        <span class="logo"> пелемешки от Олежки</span>
        <div>
            <q>{{quote}}</q>
        </div>
        <hr>
        <div id="countdown"></div>
        <hr>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'personal_account:personal_account' %}"><li>Личный аккаунт</li></a>
            <a href="{% url 'services:promo_codes_view' %}"><li>Купоны</li></a>
            <a href="{% url 'services:services' %}"><li>Наши услуги</li></a>
            <a href="{% url 'services:contacts'%}"><li>Контакты</li></a>
            <a href="{% url 'services:about_us'%}"><li>О нас</li></a>
            <a href="{% url 'services:feedback'%}"><li>Отзывы</li></a>
            {% if user.is_staff %}
            <a href="{% url 'services:create'%}"><li>Добавить устройство</li></a>
            <a href="{% url 'services:createIssue' %}"><li>Добавить услугу</li></a>
            <a href="{% url 'statistic:history' %}"><li>History</li></a>
            <a href="{% url 'statistic:analyze' %}"><li>Analyze</li></a>
            <a href="{% url 'services:trash' %}"><li>Эксперементы</li></a>
            {% endif %}

        </ul>
         <div class="cart">
            {%if user.is_authenticated%}
             <a href="{% url 'cart:cart_details' %}"><li>Корзина</li></a>
            {%endif%}
        </div>

        <pre>
            <code>
            while(alive){
                write_html();
                if(you_died()){
                    reborn();
                }
            }

        </code>
        </pre>


    </aside>
    <main>

        {% block content  %}
        {% endblock  %}
    </main>
    
</body>

</html>