{% extends "services/layout.html"  %}
{% load static%}

{% block name  %}
    <h1>Сервисный центр</h1>
{% endblock  %}

{% block css  %}
    <link rel="stylesheet" href="{% static 'services/css/layout.css'%}"/>
{% endblock  %}

{% block content  %}
<h1 align="center">Главная страница Олежки</h1>
<div class="card-grid">

    {% for devices in Device_type%}

                 <div class="card">

                    <div class="card-header">
                        <h5>{{devices.name}}</h5>
                    </div>

                    <div class="card-body" align="center">
                         <a href="{{ devices.get_absolute_url }}">
                            <img src="{% if devices.image %}{{ devices.image.url }}{%else %}{% static 'services/img/logo.jpg' %}{% endif %}"
                            width="70" height="70" align="midle">
                         </a>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'services:detail' devices.id %}"><button class="btn btn-warning">Оказываемые услуги</button></a>
                    </div>
                </div>

       {% empty %}
    <p>Статей не обнаружено :(</p>
    {% endfor %}
</div>


    <h1 align="center">Главные новости для наших клиентов</h1>


        {% for n in News%}
            <div class="news-container">
                <article class="news-content">
                    <h2 class="news-title">{{n.name}}</h2>
                    <br>
                    <p class="news-description" >{{n.description}}</p>
                    <img class="news-image" src="{{n.image.url}}">
                    <br>
                    <details class="news-text">
                        <summary>Continue</summary>
                        {{n.full_text }}
                    </details>
                    <br>
                    <p>Для более подробной информации перейдите по ссылке<a href="{{n.resource}}">вам сюда. Тыкните</a></p>
             </article>
            </div>

        {% empty %}
        <p>Статей не обнаружено :(</p>
        {% endfor %}



{% endblock  %}


{% block title  %}
    <h1>Ремонт ноутбуков</h1>
{% endblock  %}