{% extends "services/layout.html"  %}
{% load static%}

{% block name  %}
    <title></title>
{% endblock  %}

{% block css  %}
    
{% endblock  %}


{% block content  %}
<section>
        <summary>
            Your data
        </summary>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>First Name: {{ user.first_name }}</p>
        <p>Last Name: {{ user.last_name }}</p>
        <p itemprop="birthDate">Date of Birth: {{ user.date_of_birth }}</p>
        <p itemprop="telephone">Phone Number: {{ user.phone_number }}</p>
</section>

<hr>
<button onclick="transposeTable()">Transpose table</button>
<br>
<br>
<button onclick="addRow()">Add row</button>
<button onclick="addColumn()">Add column</button>
<br>
<br>
<label for="maxCells">Max cells to select in a row/column:</label>
<input type="number" id="maxCells" min="1" value="1">
<br>
<br>
<label for="tableSize">Table size:</label>
<input type="number" id="tableSize" min="1" value="4">
<button onclick="createNewTable()">Create table</button>
<br>
<br>
<table id="myTable"></table>

<br>

<h1>Latest Date Finder</h1>

<form id="dateForm">
  <label for="date1">Date 1:</label>
  <input type="text" id="date1" placeholder="dd.mm.yyyy" required>
  <br>
  <label for="date2">Date 2:</label>
  <input type="text" id="date2" placeholder="dd.mm.yyyy" required>
    <br>
  <label for="date3">Date 3:</label>
  <input type="text" id="date3" placeholder="dd.mm.yyyy" required>
    <br>
  <!-- Add more input fields as needed -->

  <button type="button" onclick="findLatestDate()">Find Latest Date</button>
</form>

<p id="result"></p>

<script src="{% static 'personal_account/js/array.js' %}" defer></script>
<script src="{% static 'personal_account/js/table.js' %}" defer></script>
<script src="{% static 'personal_account/js/birthday.js' %}" defer></script>

{% endblock  %}
